.input-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 10px;
  }
  
  .input-label {
    margin-right: 10px;
  }
  
  .input-field {
    width: 70px;
    border: 1px solid gray;
    border-radius: 3px;
    padding: 5px;
  }
  
  .submit-button {
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 3px;
    padding: 5px 10px;
    cursor: pointer;
  }
  
  .submit-button:hover {
    background-color: #3e8e41;
  }