/* #f4d9cf albescent white*/
/* #374465 pickled bluewood*/
/* #F7A588 */

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%;
    max-width: 1200px;
    margin: 0 auto;
    gap: 16px;
}

@media screen and (max-width: 600px) {
    .container {
        width: 100%;
    }
}

.tab-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 312px;
    gap: 8px;
}

.preview {
    object-fit: cover;
    cursor: pointer;
}

.preview__md {
    width: 300px;
    height: 300px;
}

.full_screen_overlay-image {
    position: absolute;
    z-index: 2;
}


.full_screen_overlay {
    width: 100vw;
    height: 100vh;
    background-repeat: repeat;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
}

.spinner {
    display: inline-block;
    border: 2px solid #f3f3f3;
    /* light gray border */
    border-radius: 50%;
    /* makes square div into a circle */
    border-top: 2px solid #3498db;
    /* blue border */
    width: 30px;
    height: 30px;
    animation: spin 2s linear infinite;
    /* rotate the spinner continuously */
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.drag-drop-container {
    max-width: 247px;
    min-height: 235px;
    padding: 25px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
    margin: 10px;
    font-size: 1rem;

}

.shadow-box {
    background-color: #374465;
    color: #F7A588;
    box-shadow: 20px 20px 0px #F7A588;
    border: 2px solid #F7A588;
    margin-bottom: 20px;
    margin-right: 20px;
}


.preview-container {
    position: relative;
}

.preview-plaid {
    object-fit: contain;
    width: fit-content;
    max-width: 100%;
    min-height: 300px;
}

.preview-like_btn {
    position: absolute;
    bottom: 0;
    right: 0;
    margin: 10px;
}

.liked-plaid {
    margin: 10px;
    border: 1px solid black;
    border-radius: 5px;
    overflow: hidden;
}

.liked-plaids {
    margin-top: 24px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.btn {
    color: #374465;
    background-color: #f4d9cf;
    padding: 8px;
    font-weight: bold;
    border-color: #374465;
    cursor: pointer;
}


.btn:hover {
    background-color: #374465;
    color: #F7A588;
}


.btn__primary {
    background-color: #374465;
    color: #f4d9cf;
}

.btn__primary:hover {
    background-color: #374465;
    color: #f4d9cf;
}

.input-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 10px;
}

.input-label {
    margin-right: 10px;
}

.input-field {
    width: 70px;
    border: 1px solid gray;
    border-radius: 3px;
    padding: 5px;
}

.row-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    /* add any additional styling here */
}